body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--global-color-alpha);
}

/*---------------------/
  COMPONENTS
/---------------------*/

.c-game-area {
  height: 100vh;
  width: auto;
  padding: 0;
  display: flex;
}

.c-canvas {
  background-color: none;
  height: 100vmin;
  width: 1366px;
}

.c-game-area__background {
  height: 100vmin;
  width: 1366px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../assets/images/gamescreenplatform.svg);
  background-size: cover;
}

.c-playerinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-playerframe {
  width: 100%;
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
  padding-bottom: 48px;
}

.c-playerframe__cards{
  width: 100%;
}

.c-playercard {
  background-color: var(--global-color-beta);
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  display: flex;
}

.c-playercard h3 {
  margin: 16px;
  color: #fff;
  width: 100%;
  height: fit-content;
}

.c-playercard__flair {
  height: 100%;
  width: 10px;
}

.c-flair__0 {
  background-color: #ff8333;
}

.c-flair__1 {
  background-color: #b32e2b;
}

.c-flair__2 {
  background-color: #c8a51a;
}

.c-flair__3 {
  background-color: #3e4cb3;
}

.c-container__info {
  width: 100%;
}

.c-playercard__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  height: fit-content;
  width: 100%;
}

.c-timer {
  width: 100vw;
  height: 100vh;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ccd2ff;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-score {
  margin-left: 16px;
  color: #fff;
  font-size: 40px;
  margin-right: 16px;
}

.c-lives {
  margin-left: 16px;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
}


/*
Displays the game info below the players card
on the game screen
*/

.c-gameinfo__container{
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 48px;
  font-size: 36px;
}

.c-gameinfo{
  color: #fff;
  width: 100%;
}

.c-gameinfo__level{
  font-weight: 500;
}
