body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--global-color-alpha);
}

/*---------------------/
  COMPONENTS
/---------------------*/

/*
The area that is the play area, 
it's the same as the canvas in size
*/

.c-game-area {
  height: 100vh;
  width: auto;
  padding: 0;
  display: flex;
}

.c-game-area__background {
  height: 100vmin;
  width: 70%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../assets/images/gamescreenplatform.svg);
  background-size: cover;
}

/*
The canvas that is drawn in js
*/

.c-canvas {
  width: 70%;
  height: auto;
}

/*
The div's surrounding the playercards;
.c-playerinfo contains the 'playerframe', 'difficulty & mode' + 'back button',
.c-playerframe contains the playercards
with their individual info
*/

.c-playerinfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-playerframe {
  width: 100%;
  flex-grow: 2;
  display: flex;
  align-items: flex-end;
  padding-bottom: calc(var(--global-baseline) * 6);
}

.c-playerframe__cards {
  width: 100%;
}

.c-playercard {
  background-color: var(--global-color-beta);
  width: 100%;
  height: 120px;
  margin-bottom: calc(var(--global-baseline) * 2);
  display: flex;
}

.c-playercard h3 {
  margin: calc(var(--global-baseline) * 2);
  color: #fff;
  width: 100%;
  height: fit-content;
}

/*
The flairs that indicates a players snake color
*/

.c-playercard__flair {
  height: 100%;
  width: 10px;
}

.c-flair__0 {
  background-color: green;
}

.c-flair__1 {
  background-color: #b32e2b;
}

.c-flair__2 {
  background-color: #c8a51a;
}

.c-flair__3 {
  background-color: #3e4cb3;
}

.c-container__info {
  width: 100%;
}

/*
The info of a player: score, hp & name
*/

.c-playercard__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--global-baseline) * 3);
  height: fit-content;
  width: 100%;
}

.c-score {
  margin-left: calc(var(--global-baseline) * 2);
  color: #fff;
  font-size: 40px;
  margin-right: calc(var(--global-baseline) * 2);
}

.c-lives {
  margin-left: calc(var(--global-baseline) * 2);
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
}

/*
The timer before the game starts
*/

.c-timer {
  width: 100vw;
  height: 100vh;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ccd2ff;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
Displays the game info below the players card
on the game screen
*/

.c-gameinfo__container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-bottom: calc(var(--global-baseline) * 2);
  font-size: 30px;
}

.c-gameinfo {
  color: #000;
  width: 100%;
}

.c-gameinfo p + p {
  margin-bottom: calc(var(--global-baseline) * 4);
}

.c-gameinfo__level {
  margin-bottom: var(--global-baseline);
  font-weight: 500;
}

.c-button--game {
  margin-bottom: 4px;
  background-color: var(--global-color-gamma);
}
