body,
html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../assets/images/homescreenbackground02.png);
  background-size: cover;
  height: 100vh;
}

/*---------------------/
  COMPONENTS
/---------------------*/

.c-game-area {
  height: 100vh;
  width: auto;
  padding: 0;
  display: flex;
  /* border: cyan 1px solid; */
}

.c-canvas {
  background-color: none;
  height: 100vmin;
  width: 1366px;
  /* border: darkblue 1px solid; */
}

.c-game-area__background {
  height: 100vmin;
  width: 1366px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-image: url(../assets/images/forestgameboard-base02.svg);
  background-size: cover;
}

.c-playercard h3 {
  margin: 16px;
  margin-top: 32px;
  color: #fff;
}

.c-timer {
  width: 100vw;
  height: 100vh;
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ccd2ff;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-score {
  margin: 16px;
  margin-top: 32px;
  color: #fff;
}

.c-lives {
  margin: 16px;
  margin-top: 32px;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  margin-right: 10px;
}
