body, html {
  background-color: var(--global-color-alpha);
  padding: 0px;
  overflow-y: auto;
}

.c-scoreboard-container {
  width: 700px;
  margin: 0 auto;
}

.c-title {
  margin: 12px 0;
  padding: 1px 0;
}

.c-scoreboard__boards {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 24px 48px;
}

.c-scoreboard__board {
  border: 2px solid white;
  background-color: var(--global-color-beta);
  padding: 0 69px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.c-scoreboard--main {
  grid-column: 1 / span 2;
}

.c-score-container {
  display: grid;
  grid-template-columns: 1fr 20fr 7fr 13fr;
}
.c-score-container h4 {
  display: flex;
  justify-content: center;
}
