body, html {
  background-color: var(--global-color-alpha);
  padding: 0px;
  overflow-y: auto;
}

/*
The container that contains all scoreboards
and the title
*/

.c-scoreboard-container {
  width: 59.375rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.c-title {
  margin: 12px 0;
}

/*
Scoreboard contains the scoreboards
*/

.c-scoreboard{
  width: 100%;
}

/*
Main contains the big scrollable scoreboard
*/

.c-scoreboard__main{
  width: calc(100% - 4px);
  color: #fff;
  border: 2px solid white;
  background-color: var(--global-color-beta);
  height: calc(var(--global-baseline) * 56);
  margin-bottom: 24px;
  font-size: 20px;
  overflow-y: overlay;
}

@media (min-width: 1368px){
  .c-scoreboard__main{
    height: calc(var(--global-baseline) * 80);
  }
}

/*
Custom scrollbar
(not supported on all browsers)
*/

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar {
  width: 5px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  /* padding: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  /* padding: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: silver;
  /* padding: 5px; */
}


.c-board-padding{
  /* cuz css is good */
  padding: 36px 60px 36px 36px;
}

/*
c-row is needed when you add a new score to the board
it contains a players info
*/

.c-scoreboard__header{
  position: fixed;
  /* a fixed width is required for the fixed element */
  width: 53.125rem;
  background-color: var(--global-color-beta);
  height: 7.5%;
  padding: 36px 60px 0 36px;
}

.c-scoreboard_scores {
  padding: 0 60px 36px 36px;
}


.c-row{
  width: 100%;
  display: grid;
  grid-template-columns: 16px repeat(8, 1fr);
  grid-template-rows: 24px;
  grid-gap: 16px;
  margin-bottom: 16px;
}

.c-row--info{
  margin-bottom: 0px;
  text-decoration: underline;
  font-size: 24px;
  grid-template-rows: auto;
}

/*
The two scoreboards on the bottom
*/

.c-scoreboard__sub{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 80px;
}

.c-board__item {
  color: #fff;
  border: 2px solid white;
  background-color: var(--global-color-beta);
  width: 49%;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-board__item--main{
  width: 100%;
}

.c-score-container h4 {
  display: flex;
  justify-content: center;
}

/*
The styling of the button
*/

a:visited{
  color: #fff;
  text-decoration: none;
  padding-top: 1px;
}

.c-button__container{
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


/*
    Utilities: Grid
    ---
    Utility classes to specify grid spans
*/


.u-text-align{
  text-align: center;
}

.u-span-column-8 {
  grid-column: span 8;
}

.u-span-column-7 {
  grid-column: span 7;
}

.u-span-column-6 {
  grid-column: span 6;
}

.u-span-column-5 {
  grid-column: span 5;
}

.u-span-column-4 {
  grid-column: span 4;
}

.u-span-column-3 {
  grid-column: span 3;
}

.u-span-column-2 {
  grid-column: span 2;
}

.u-span-row-2 {
  height: 100%;
  grid-row: span 2;
}
