  
/*

Fonts
---
All the font-families used in the website

*/

@font-face {
    font-family: "Roboto Slab";
    font-weight: 400;
    src: url("../fonts/roboto/RobotoSlab-Regular.ttf")
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: 600;
    src: url("../fonts/roboto/RobotoSlab-Bold.ttf")
}

@font-face {
    font-family: "Roboto Slab";
    font-weight: 500;
    src: url("../fonts/roboto/RobotoSlab-Medium.ttf")
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
    /* Colors */
  
    /* Alpha Colors */
  
    --global-color-alpha: #6B70B3;
    --global-color-alpha-5-dark: #6268B3;
    --global-color-alpha-10-dark: #515CB3;

    --global-color-beta: #70BD51;

    --global-color-omega: #FF8333;

    --global-color-gamma: #B32E2B;
    --global-color-gamma-5-light: #B34A48;

  }
  

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Slab", Helvetica, arial, sans-serif;
    color: #111;
    padding: 24px 24px 0;
}
body{
    max-width: 42em;
    margin: auto;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #E85E00;
    color: white;
    text-shadow: none;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;

}
/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-family: "Times New Roman", serif;
    font-style: 36px;
    font-weight: normal;
    line-height: 40px;
    margin: 0 0 48px;

}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol,
blockquote {
    padding-left: 24px;
}

li ul,
li ol{
        margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}
blockquote *{
    font-style: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
 border: 0;
 height: 1px;
 background: LightGrey;
 margin: 0 0 24px;
}

a {
    color: RoyalBlue;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: BlueViolet;
}

a:hover,
a:focus {
    color: Crimson;
}

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/


/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 58px;
        line-height: 64px;
    }
    html {
        padding: 48px 48px 24px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}