/*

Fonts
---
All the font-families used in the website

*/

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 400;
  src: url('../fonts/roboto/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 600;
  src: url('../fonts/roboto/RobotoSlab-Bold.ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-weight: 500;
  src: url('../fonts/roboto/RobotoSlab-Medium.ttf');
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  /* Colors */

  /* Alpha Colors */

  --global-color-alpha: #84c2d8;
  --global-color-alpha-5-dark: #6268b3;
  --global-color-alpha-10-dark: #515cb3;

  --global-color-delta: #718fcc;

  --global-color-beta: #74af78;

  --global-color-omega: #ff8333;

  --global-color-gamma: #b32e2b;
  --global-color-gamma-5-light: #b34a48;

  --global-baseline: 8px;
}

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html,
body {
  font-size: 1em;
  line-height: 1.5;
  font-family: 'Roboto Slab', Helvetica, arial, sans-serif;
  color: #111;
  overflow: hidden;
}

body {
  background-color: var(--global-color-alpha);
}

/*
 * Remove text-shadow in selection highlight:
 *
 * Customize the background color to match your design.
 */

::selection {
  background: var(--global-color-gamma);
  color: white;
  text-shadow: none;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}
/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
  font-size: 48px;
  font-weight: normal;
  line-height: 40px;
}

h2 {
  font-size: 36px;
  line-height: 32px;
}

h3 {
  font-size: 30px;
  line-height: 24px;
}

h4,
h5,
h6 {
  font-size: 24px;
  line-height: 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0;
}

ul,
ol,
blockquote {
  padding-left: 24px;
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
  font-family: 'Times New Roman', serif;
}
blockquote * {
  font-style: inherit;
  line-height: inherit;
}

figcaption {
  font-size: 12px;
  line-height: 16px;
  padding-top: 8px;
  color: Grey;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  color: white;
}

a:visited,
a:active {
  text-decoration: none;
  color: var(--global-color-delta);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--global-color-delta);
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
  position: relative;
  padding: 24px 24px 0;
}

/* size modifiers */

.o-row--lg {
  padding: 48px 24px 24px;
}

/*
      Objects: Container
      ---
      Creates a horizontal container that sets de global max-width
  */

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 102.5rem;
  height: 100vh;
  overflow: hidden;
}

/*
      Objects: section
      ---
      Creates vertical whitespace between adjacent sections inside a row
  */

.o-section + .o-section {
  margin-top: 24px;
}

/*
      Objects: Layout
      ---
      The layout object provides us with a column-style layout system. This object
      contains the basic structural elements, but classes should be complemented
      with width utilities
  */

.o-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.o-layout__item {
  width: 100%;
}

.o-layout--gutter {
  margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
  padding: 0 12px;
}

.o-layout--gutter-sm {
  margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
  padding: 0 6px;
}

.o-layout--gutter-lg {
  margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
  padding: 0 24px;
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
  flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
  justify-content: flex-start;
}

.o-layout--justify-end {
  justify-content: flex-end;
}

.o-layout--justify-center {
  justify-content: center;
}

.o-layout--justify-space-around {
  justify-content: space-around;
}

.o-layout--justify-space-evenly {
  justify-content: space-evenly;
}

.o-layout--justify-space-between {
  justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
  align-items: flex-start;
}

.o-layout--align-end {
  align-items: flex-end;
}

.o-layout--align-center {
  align-items: center;
}

.o-layout--align-baseline {
  align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
  align-content: start;
}

.o-layout--align-content-end {
  align-content: end;
}

.o-layout--align-content-center {
  align-content: center;
}

.o-layout--align-content-space-around {
  align-content: space-around;
}

.o-layout--align-content-space-between {
  align-content: space-between;
}

/*
      Objects: List
      ---
      Small reusable object to remove default list styling from lists
  */

.o-list {
  list-style: none;
  padding: 0;
}

/*
      Objects: Hide items
      ---
      Reusable object that hide base design inputs
  */

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*

Component: Button
---
A reusable button

*/

.c-button {
  width: calc(var(--global-baseline) * 25);
  height: calc(var(--global-baseline) * 6.25);
  background: var(--global-color-beta);
  border: none;
  font-family: 'Roboto Slab';
  border-radius: 10px;
  margin-bottom: 48px;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-button__text {
  font-size: 1.2rem;
  color: #fff;
}

@media (min-width: 1368px) {
  .c-button {
    width: calc(var(--global-baseline) * 32.5);
    height: calc(var(--global-baseline) * 8.75);
    background: var(--global-color-beta);
    margin-bottom: 60px;
    border: none;
    font-family: 'Roboto Slab';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 0;
  }

  .c-button__text {
    font-size: 1.7rem;
    color: #fff;
  }
}

.c-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 6px;
  border: solid 2px;
  outline: none;
}

.c-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 6px;
  border: solid 2px;
  outline: none;
}

/*

Component: Clouds
---
The floating clouds in the background

*/

.c-clouds-container {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.c-clouds {
  position: relative;
  animation: movingclouds 60s infinite;
  animation-timing-function: linear;
}

@keyframes movingclouds {
  0% {
    left: -65%;
  }
  100% {
    left: 100%;
  }
}

.c-clouds + .c-clouds {
  margin-left: 40%;
  margin-top: 5%;
}

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

.u-margin-bottom-md {
  margin-bottom: calc(var(--global-baseline) * 2);
}

.u-align-flex-end {
  align-items: flex-end;
}
