/*--------------
COMPONENTS: 
Alle components om de settings page te stylen
---------------*/

.o-container{
    display: flex;
    justify-content: center;
}

.c-clouds-container{
  top: 20%;
}

.c-platform{
  position: absolute;
  z-index: -2;
  margin: 0 auto;
  bottom: 18%;
  width: 60rem;
  height: auto;
}


/* 
De body dat de title en de settings bevat,
het bevindt zich in een o-container
*/

.c-body {
  width: 536px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.c-body__item{
    width: 100%;
}

.c-title {
    font-size: 36px;
    margin-bottom: 80px;
    font-weight: 500;
    text-align: center;
  }

/*
Tells the child (title + settings) to take up more space then the other child (the buttons on the bottom) &
align it at the center of the div
*/

.c-body__item--main-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 
De settings klasse is de parent van de titel & 
de buttons om de waarde te veranderen
*/

.c-settings {
  font-size: 24px;
  width: 100%;
}

.c-settings__item {
  margin-bottom: 48px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 
Options bevat de twee buttons en de waarde tussenin
*/

.c-options {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.c-options__selected {
  font-weight: 400;
}

.c-options__icon{
  width: 30px;
  height: 26px;
}

.c-options__icon--right{
  transform: rotate(180deg);
  margin-top: 3px;
}

/* 
Dit werkt niet omdat illustrator een goed programma is
*/
.c-options__button:focus + .c-options__icon{
  fill: var(--global-color-beta);
}

.c-options__icon--left:active{
  width: 28px;
  height: 24px;
  padding: 1px;
}

.c-options__icon--right:active{
  width: 28px;
  height: 24px;
  padding: 1px;
}

/*
Een container rond de buttons om ze goed te plaatsen
*/

.c-button-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.c-button + .c-button{
    margin-left: 16px;
}
