body {
  background-image: url(../assets/images/homescreenbackground.svg);
  background-size: contain;
  background-color: var(--global-color-alpha);
  width: 100vw;
  height: 100vmin;
  background-repeat: no-repeat;
}

.c-sponsors {
  background-color: #fff;
  /* width: calc(var(--global-baseline) * 50); */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25%;
}

.c-menu-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
}

.c-menu {
  width: calc(var(--global-baseline) * 60);
  height: fit-content;
  margin: 0 auto;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  /* background-color: brown;
  width: 420px;
  height: 640px; */
}

.c-menu__title {
  font-size: 3rem;
  margin-bottom: calc(var(--global-baseline) * 9);
}

.c-menu__button {
  display: flex;
  flex-wrap: nowrap;
}

.c-menu__caption {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}

.c-button {
  width: calc(var(--global-baseline) * 32.5);
  height: calc(var(--global-baseline) * 8.75);
  background: var(--global-color-beta);
  margin-bottom: 60px;
  border: none;
  font-family: 'Roboto Slab';
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.c-button + .c-button{
  margin-left: 100px;
}

.c-button__text {
  font-size: 1.7rem;
  color: #fff;
}

.c-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 6px;
  border: solid 2px;
}

.c-button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 6px;
  border: solid 2px;
}

.c-sponsors{
  background-color: #fff;
  /* width: calc(var(--global-baseline) * 50); */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  margin-bottom: 62px;
  /* width: 100%; */
}

.c-sponsors img{
  width: 30%;
  /* transform: scale(0.3); */
  /* display: block; */
}