body {
  background-color: var(--global-color-alpha);
  width: 100vw;
  height: 100vmin;
}

.c-island {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 48px;
  flex-wrap: wrap;
}

.c-island img {
  width: 60%;
}

/*
Tutorial button on the top right
*/

.c-info {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 176px;
  height: 60px;
  background-color: #fff;
  z-index: 3;
  border-radius: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--global-color-delta);
  border: solid 1px var(--global-color-delta);
  text-decoration: none;
  justify-content: space-between;
}

.c-info__text{
  padding-left: 30px;
}

.c-info__icon{
  height: 100%;
  position: relative;
  right: 1px;
}

/* 

Components: Menu
---
These components contain styling on main page elements

*/

.c-menu-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.c-menu {
  width: calc(var(--global-baseline) * 60);
  height: fit-content;
  margin: 0 auto;
  background-color: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.c-menu__title {
  font-size: 3rem;
  margin-bottom: calc(var(--global-baseline) * 9);
}

.c-menu__button {
  display: flex;
  flex-wrap: nowrap;
}

.c-menu__caption {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 24px;
  text-align: center;
}

.c-button + .c-button{
  margin-left: 100px;
}

.c-sponsors{
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100px;
  width: fit-content;
  display: flex;
  border-radius: 0px 10px 0px 0px;
  padding-right: 12px;
}

.c-sponsors img {
  width: 90px;
  margin-left: 12px;
}
