body {
  background-color: var(--global-color-alpha);
  width: 100vw;
  height: 100vmin;
}

video{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.c-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  animation: move-island 1s ease-out forwards;
}

@keyframes move-island {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(40%);
  }
}

.c-container-instructions{
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

.c-instructions {
  background-color: var(--global-color-beta);
  height: 80%;
  width: 50%;
  border: 2px white solid;
}

.c-carousel-container{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.c-button-keanu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-button-keanu svg{
  height: 100px;
}

.u-rotate{
  transform: rotate(180deg);
}